.kook-title{
	color: red;
	margin-bottom: 40px;
}

.kook-log{
	background: whitesmoke;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 6px;
	ul{
		list-style: none;
		
	}
}
.summary{
	list-style: none;
	li{
		padding: 0;
	}
}


.kook-log-container{
	max-width: 800px;
}